.heading{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: 	#BD34DC;
    background: #76D7C4;
    border: 2px solid #BD34DC;
    border-radius: 20px;
    font-family: Verdana;
}
form {
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    background: #76D7C4;
    border: 1px solid #BD34DC;
}
form p {
    color: red;
    margin: 0px;
}
.task_input {
    width: 75%;
    height: 15px;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #BD34DC;
}
.add_button {
    height: 39px;
    background: #76D7C4;
    color: 	#BD34DC;
    border: 2px solid #BD34DC;
    border-radius: 5px;
    padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 3px;
    background: aqua;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th {
    font-size: 19px;
    color: #BD34DC;
}

th, td{
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #76D7C4;
}

.task {
    text-align: left;
}

.delete{
    text-align: center;
}
.delete a{
    color: white;
    background: #a52a2a;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}

.id {
    text-align: center;
}

body {
    background-image: url(background_main_page_v2.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}